//Хедер
//Панель
header {
  margin-left: auto;
  margin-right: auto;
  border-bottom: var(--border-header);
  background-color: var(--main-white-color);
}
.header {
  display: flex;
  align-items: center;
}
