// Оверлей карточек проектов
.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

  overflow: auto;

  background-color: var(--background-accent-color);

  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.overlay__text {
  margin: 0;
  padding: 63px 24px;

  font-size: 18px;
  line-height: 1.56;
  letter-spacing: 0.03em;
  color: var(--main-white-color);
}
.project-list__name {
  margin-bottom: 4px;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}
.project-list__type {
  font-size: 16px;
  line-height: 1.875;
  letter-spacing: 0.03em;
}
.project-list__description {
  padding: 20px 24px;
  border-left: var(--border-cards);
  border-right: var(--border-cards);
  border-bottom: var(--border-cards);
}
