body {
  font-family: var(--main-font);
  font-style: normal;
  color: var(--primary-text-color);
}
p {
  color: var(--secondary-text-color);
  padding: 0;
  margin: 0;
}
a {
  text-decoration: none;
  color: inherit;
}
button {
  font-family: inherit;
}
img {
  display: block;
}
